# Corso Python

## Lezione 1: 
#### - Concetti Base

Iniziamo con il primo programma in Python: stampare a video "Hello World"

In [ ]:
print('Hello World!')

## Variabili e operazioni base

Vediamo alcuni semplici esercizi su come definire le variabili, effettuare ridefinizioni e cast in Python.

<u>NB</u>: L'assegnazione di variabile in Python avviene con il simbolo "="

In [ ]:
# Definizione di variabile (intero)
a = 10
# Vediamo il tipo
print(type(a))

In [ ]:
# Ri-Definizione di variabile (stringa)
a = 'Hello'
# Vediamo il tipo
print(type(a))

In [ ]:
# Ri-Definizione di variabile (Boolean)
a = True
# Vediamo il tipo
print(type(a))

In [ ]:
# Ri-Definizione di variabile (Float)
a = 2.563
# Vediamo il tipo
print(type(a))

In [ ]:
# Definizione di variabile tramite l'operazione di cast, voglio che 10 sia visto come str e non numero intero
a = str(10)
print(type(a))

<u>Attenzione</u>: Se si è nello stesso <i>scope</i> ed è già presente una variabile, la riassegnazione ne cambia il valore.

E' possibile definire una variabile anche usando come nome l'underscore "\_".

In [ ]:
_ = 'ABC1012'
print(_)

### Stringhe
Sono riportate sotto alcune semplici operazioni tra stringhe.

In [2]:
# Semplici operazioni tra stringhe:
# Concatenazioni
print("--- Concatenazioni:")
a="ciao"
b=" "
c="Mondo"
print(a+b+c)
# Estrarre il secondo carattere della stringa
print("--- Secondo carattere:")
print(a[1])
# Uppercase
print("--- Upper ", a)
print(a.upper())
# Capitalize
print("--- Capitalize ", a)
print(a.capitalize())
# Replace
print("--- Cambio la c con H in ", a)
print(a.replace("c","H"))
# ...

--- Concatenazioni:
ciao Mondo
--- Secondo carattere:
i
--- Upper  ciao
CIAO
--- Capitalize  ciao
Ciao
--- Cambio la c con H in  ciao
Hiao

### Numeri
Alcune operazioni matematiche di base.

In [ ]:
# Operazioni matematiche base
a = 2
b = 5

print('Due numeri: ',a,' e ',b)
print('Somma: ', a+b)
print('Differenza: ', a-b)
print('Prodotto: ', a*b)
print('Divisione: ', a/b)
print('Modulo: ', a%b)
print('Elevamento a potenza: ', a**b)

<u>Esercizio</u>: Cosa succede se concateno una stringa con un numero? Utilizzate la cella sotto per fare una prova

In [ ]:
# Scrivete qui il codice per fare un test

In [ ]:
# SOLUZIONE
a = 10 # assegnate un numero
b = 'ABC' # assegnate una stringa

try:
    print(a+b)
except Exception as e:
    print("Errore: ", e)

### Boolenani e None
Vediamo qualche operazione logica.

In [ ]:
a = True
b = False

print('Partiamo da: ',a, ',',b)

print('And:')
print(a and b)
print('Or:')
print(a or b)
print('Diverso:')
print(a != b)
print('Uguale:')
print(a == b)

<u>NB</u>: E' possibile assegnare un valore "None" ad una variabile (simile al null di altri linguaggi), esso prevede comunque occupazione in memoria.

In [ ]:
a = None
print(a)
print(type(a))

## Collezioni base

Le **Collections** (raccolte) sono strutture di dati preconfezionate costituite da elementi di dati correlati

Esistono 4 collezioni base in Python:

* Liste,
* Tuple,
* Set,
* Dizionari.

<center>
<img src="img/collezioni.png" width="800">
</center>

Partiamo con semplici esempi su ognuna di esse. In particolare, vediamo se possiamo cambiare o meno un elemento.

## Liste

Una lista è una sequenza unidimensionale, di lunghezza variabile e mutabile.

### Creare una lista

In [1]:
c = [-45, 6, 0, 72, 1543]
c

[-45, 6, 0, 72, 1543]

#### Accedere agli elementi di una lista

Fai riferimento a un elemento della lista scrivendo il nome della lista seguito dall'indice dell'elemento (ovvero, il suo numero di posizione) racchiuso tra parentesi quadre ([], noto come operatore di sottoscrizione). Gli indici devono essere numeri Interi o Espressioni Intere

<center>
<img src="img/list_index.png" width='400'>
</center>

In [4]:
c[0]

-45

In [6]:
# Accedere agli elementi di una lista con Indici Negativi
c[-2]

1543

In [9]:
# Tentare di accedere ad elementi che non esistono
c[100]

IndexError: list index out of range

In [8]:
### Usare Elementi di una lista in Espressioni
c[0] + c[1] + c[2]

-39

#### Determinare la Lunghezza di una Lista

In [7]:
len(c)

5

#### Le Liste sono Mutabili

In [1]:
# Liste
l = [1,"Ciao", False]
print(l)

# Cambio l'elemento con l'indice 1 nella lista
try:
    l[1] = "Hello!"
    print(l)
except Exception as e:
    print("Error: ", e)

[1, 'Ciao', False]
[1, 'Hello!', False]

#### Concatenare Liste con `+`

È possibile concatenare due liste o due stringhe utilizzando l'operatore `+`. Il risultato è una nuova sequenza dello stesso tipo contenente gli elementi dell'operando sinistro seguiti dagli elementi dell'operando destro. Le sequenze originali rimangono invariate

In [6]:
list1 = [10, 20, 30]
list2 = [40, 50]
concatenated_list = list1 + list2
concatenated_list

[10, 20, 30, 40, 50]

#### `for` e `range` per accedere a valori ed indici di una Lista

In [7]:
range(len(concatenated_list)-1)

range(0, 5)

In [12]:
for i in range(len(concatenated_list)):
    print(i+1, ": ", concatenated_list[i])

0 :  10
1 :  20
2 :  30
3 :  40
4 :  50

#### Accesso sicuro a indici e valori con la funzione `enumerate`

In [26]:
colori = ['rosso', 'arancione', 'giallo']

In [27]:
list(enumerate(colori))

[(0, 'rosso'), (1, 'arancione'), (2, 'giallo')]

In [28]:
tuple(enumerate(colori))

((0, 'rosso'), (1, 'arancione'), (2, 'giallo'))

### Self Check

Crea una lista contenente tre stringhe di nomi. Utilizza un ciclo `for` e la funzione `enumerate` per scorrere gli elementi e visualizzare l'indice e il valore di ogni elemento

In [30]:
nomi = ['Amanda', 'Sam', 'David']
for i, nome in enumerate(nomi):
    print(f'{i}: {nome}')

0: Amanda
1: Sam
2: David

## Slicing di Sequenze

È possibile suddividere le sequenze per creare nuove sequenze dello stesso tipo contenenti sottoinsiemi degli elementi originali.

#### Specificare una Slice con indici di inizio e fine

In [31]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]
numbers[2:6]

[5, 7, 11, 13]

#### Specificare una Slice con solo indice finale

In [33]:
numbers[:6]

[2, 3, 5, 7, 11, 13]

#### Specificare una Slice con solo indice iniziale

In [36]:
print(numbers[6:])
numbers[6:len(numbers)]

[17, 19]

[17, 19]

#### Slicing con Step

In [39]:
numbers[::2]

[2, 5, 11, 17]

### Self Check

Creare una lista chiamata `numbers` contenente i valori da $1$ a $15$, quindi usare le *slices* per eseguire le seguenti operazioni consecutivamente:

1. Selezionare i numeri pari
2. Sostituire gli elementi negli indici da $5$ a $9$ con `0`, quindi mostrare la lista risultante
3. Conservare solo i primi cinque elementi, quindi mostra la lista risultante
4. Eliminare tutti gli elementi della lista. Mostra l'elenco risultante

In [8]:
numbers = list(range(1, 16))
#1
print(numbers[1:len(numbers):2])
#2
numbers[5:10] = [0] * len(numbers[5:10])
print(numbers)
#3
numbers[5:] = []
print(numbers)
#4
numbers = []
print(numbers)

[2, 4, 6, 8, 10, 12, 14]
[1, 2, 3, 4, 5, 0, 0, 0, 0, 0, 11, 12, 13, 14, 15]
[1, 2, 3, 4, 5]
[]

## Istruzione `del`

L'istruzione `del` può essere utilizzata per rimuovere elementi da una lista e per eliminare variabili dalla sessione interattiva.

#### Cancellare l'elemento ad uno specifico indice di Lista

In [51]:
numbers = list(range(0, 10))
del numbers[-1]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8]

#### Cancellare una slice da una lista

In [53]:
del numbers[0:2]
numbers

[2, 3, 4, 5, 6, 7, 8]

## Ordinamento di Liste

In [54]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]
numbers.sort()
print(numbers)
numbers.sort(reverse=True)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### Funzione built-in `sorted`

La funzione incorporata `sorted` restituisce una nuova lista contenente gli elementi ordinati della sua sequenza di argomenti: la lista originale non viene modificata.

In [58]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]
ascending_numbers = sorted(numbers)
ascending_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Self Check

Creare una lista di alimenti contenente: "Cookies", "pizza", "Grapes", "apples", "steak" e "Bacon". Utilizzare il metodo `sort` per ordinare l'elenco in ordine crescente. 
Le stringhe sono in ordine alfabetico?

In [18]:
foods = ['Cookies', 'pizza', 'Grapes', 'apples', 'steak', 'Bacon']

In [19]:
foods.sort()

In [20]:
foods

['Bacon', 'Cookies', 'Grapes', 'apples', 'pizza', 'steak']

Probabilmente non sono in quello che considereresti ordine alfabetico, ma sono nell'ordine definito dal set di caratteri sottostante

### Metodo `index`

IL metodo di lista `index` prende come argomento una chiave di ricerca (il valore da individuare nella lista) quindi cerca nella lista dall'indice $0$ e restituisce l'indice del primo elemento che corrisponde alla chiave di ricerca

In [1]:
numbers = [3, 7, 1, 4, 2, 8, 5, 6]

In [21]:
testo = ['mele','pere','caffè']
testo.index('mele')

0

In [2]:
numbers.index(5)

6

### Metodo `insert`

Il metodo `insert` aggiunge un nuovo elemento a un indice specificato.

In [ ]:
color_names = ['orange', 'yellow', 'green']

In [ ]:
color_names.insert(0, 'red')

In [ ]:
color_names

['red', 'orange', 'yellow', 'green']

### Metodo `append`

Il metodo `append` aggiunge un nuovo elemento alla fine della lista

In [ ]:
color_names.append('blue')

In [ ]:
color_names

['red', 'orange', 'yellow', 'green', 'blue']

### Metodo `extend`

Usa il metodo `extend` per aggiungere tutti gli elementi di un'altra lista alla fine di una lista

In [ ]:
color_names.extend(['indigo', 'violet'])

In [ ]:
color_names

['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

In [22]:
# Lista vuota
sample_list = []

In [23]:
s = 'abc'

In [24]:
sample_list.extend(s)

In [25]:
sample_list

['a', 'b', 'c']

In [ ]:
t = (1, 2, 3)

In [ ]:
sample_list.extend(t)

In [ ]:
sample_list

['a', 'b', 'c', 1, 2, 3]

In [ ]:
sample_list.extend((4, 5, 6))  # notare le parentesi extra

In [ ]:
sample_list

['a', 'b', 'c', 1, 2, 3, 4, 5, 6]

### Metodo `remove`

Il metodo remove elimina il primo elemento con un valore specificato: si verifica un'eccezione `ValueError` se l'argomento di remove non è nella lista

In [ ]:
color_names.remove('green')

In [ ]:
color_names

['red', 'orange', 'yellow', 'blue', 'indigo', 'violet']

### Metodo `clear`

Per elminare tutti gli elementi in una lista

In [ ]:
color_names.clear()

In [ ]:
color_names

[]

### Metodo `count`

Il metodo `count` cerca il suo argomento e restituisce il numero di volte che viene trovato

In [32]:
list1 = [1, 2, 5, 4, 3, 5, 2, 1, 3, 3, 1, 4, 3, 3, 3, 2, 3, 3, 2, 2]

In [34]:
list1.count(2)

5

In [35]:
for i in range(1, 6): 
    print(f'{i} appears {list1.count(i)} times in responses')

1 appears 3 times in responses
2 appears 5 times in responses
3 appears 8 times in responses
4 appears 2 times in responses
5 appears 2 times in responses

### Metodo `reverse`

Il metodo `reverse` inverte il contenuto di una lista in posizione, invece di creare una copia invertita

In [ ]:
color_names = ['red', 'orange', 'yellow', 'green', 'blue']

In [ ]:
color_names.reverse()

In [ ]:
color_names

['blue', 'green', 'yellow', 'orange', 'red']

## Tuple

Una tupla è una sequenza unidimensionale, di lunghezza fissa e immutabile. Sebbene le tuple siano immutabili, il loro contenuto può contenere oggetti mutabili.

### Creare una tupla

In [ ]:
tupla1 = ('Giorgio', 'Verde', 3.3)
tupla1

('Giorgio', 'Verde', 3.3)

In [ ]:
len(tupla1)

3

### Accedere agli elementi di una tupla

Il codice seguente crea time_tuple che rappresentano un'ora, un minuto e un secondo, visualizza la tupla, quindi utilizza i suoi elementi per calcolare il numero di secondi dalla mezzanotte

In [ ]:
time_tuple = (9, 16, 1)
time_tuple[0] * 3600 + time_tuple[1] * 60 + time_tuple[2]

33361

#### Le Tuple sono immutabili

In [9]:
# Tuple
t = (1,"Ciao", False)
print(t)

# Cambio l'elemento con l'indice 1 nella lista
try:
    t[1] = "Hello!"
    print(t)
except Exception as e:
    print("Error: ", e)

(1, 'Ciao', False)
Error:  'tuple' object does not support item assignment

#### Le Tuple possono contenere oggetti mutabili

In [ ]:
tupla_studente = ('Amanda', 'Blu', [98, 75, 87])
tupla_studente[2][1] = 85
tupla_studente

('Amanda', 'Blu', [98, 85, 87])

### Unpacking di Sequenze

In [ ]:
tupla_studente = ('Diana', [28, 25, 27])
nome, voti = tupla_studente

In [ ]:
print(nome)
print(voti)

Diana
[28, 25, 27]

## Set

Set è uno dei 4 tipi di dati incorporati in Python utilizzati per archiviare raccolte di dati, gli altri 3 sono List, Tuple e Dictionary, tutti con qualità e utilizzo diversi.

Un **set** è una raccolta non ordinata di elementi immutabili unici.

### Creare un Set con le parentesi graffe

In [ ]:
colors = {'red', 'orange', 'yellow', 'green', 'red', 'blue'}

In [ ]:
colors

Notare che la stringa duplicata "red" è stata ignorata (senza causare un errore). Un uso importante dei set è l'eliminazione dei duplicati, che è automatica durante la creazione di un set.

### Determinare la lunghezza di un set

In [ ]:
len(colors)

### Controllare se un valore è in un set

In [ ]:
'red' in colors

In [ ]:
'purple' in colors

In [ ]:
'purple' not in colors

### Iterare attraverso un set

In [ ]:
for color in colors:
    print(color.upper(), end=' ')

### Creare un set con la funzione built-in `set`

In [ ]:
numbers = list(range(10)) + list(range(5))

In [ ]:
numbers

In [ ]:
set(numbers)

In [ ]:
set()

In [ ]:
type({})

In [ ]:
type(set())

### Confrontare Sets

In [ ]:
{1, 3, 5} == {3, 5, 1}

In [ ]:
{1, 3, 5} != {3, 5, 1}

In [ ]:
{1, 3, 5} < {3, 5, 1}

In [ ]:
{1, 3, 5} < {7, 3, 5, 1}

In [ ]:
{1, 3, 5} <= {3, 5, 1}

In [ ]:
{1, 3} <= {3, 5, 1}

In [ ]:
{1, 3, 5}.issubset({3, 5, 1})

In [ ]:
{1, 2}.issubset({3, 5, 1})

In [ ]:
{1, 3, 5} > {3, 5, 1}

In [ ]:
{1, 3, 5, 7} > {3, 5, 1}

In [ ]:
{1, 3, 5} >= {3, 5, 1}

In [ ]:
{1, 3, 5} >= {3, 1}

In [ ]:
{1, 3} >= {3, 1, 7}

In [ ]:
{1, 3, 5}.issuperset({3, 5, 1})

In [ ]:
{1, 3, 5}.issuperset({3, 2})

### Set Unione

In [ ]:
{1, 3, 5} | {2, 3, 4}

In [ ]:
{1, 3, 5}.union([20, 20, 3, 40, 40])

### Set Intersezione

In [ ]:
{1, 3, 5} & {2, 3, 4}

In [ ]:
{1, 3, 5}.intersection([1, 2, 2, 3, 3, 4, 4])

### Set Differenza

In [ ]:
{1, 3, 5} - {2, 3, 4}

In [ ]:
{1, 3, 5, 7}.difference([2, 2, 3, 3, 4, 4])

### Set Disgiunzione

In [ ]:
{1, 3, 5}.isdisjoint({2, 4, 6})

In [ ]:
{1, 3, 5}.isdisjoint({4, 6, 1})

### Set Add e Remove

In [ ]:
numbers = {1, 3, 5}

In [ ]:
numbers.add(17)

In [ ]:
numbers.add(3)

In [ ]:
numbers

In [ ]:
numbers.remove(3)

In [ ]:
numbers

### Set Clear

In [ ]:
numbers.clear()

In [ ]:
numbers

In [4]:
# Sets
s = {1,"Ciao", False}
print(s)

# Cambio l'elemento con l'indice 1 nella lista
try:
    s[1] = "Hello!"
    print(s)
except Exception as e:
    print("Error: ", e)

{False, 1, 'Ciao'}
Error:  'set' object does not support item assignment

## Dizionari

Un **dizionario** è una raccolta non ordinata che memorizza coppie chiave-valore che mappano chiavi immutabili a valori, proprio come un dizionario convenzionale associa le parole alle definizioni.

Un dizionario *associa* le chiavi ai valori. Ogni chiave viene *mappata* a un valore specifico


<center>
<img src="img/dict.png" width='400'>
</center>

Le chiavi di un dizionario devono essere immutabili (come stringhe, numeri o tuple) e univoche (ovvero, nessun duplicato). Più chiavi possono avere lo stesso valore

### Creare un dizionario

In [108]:
country_codes = {'Finland': 'fi', 'South Africa': 'za', 'Nepal': 'np'}

In [109]:
country_codes

{'Finland': 'fi', 'South Africa': 'za', 'Nepal': 'np'}

### Determinare se un dizionario è vuoto

In [110]:
len(country_codes)

3

In [111]:
if country_codes:
    print('country_codes non è vuoto')
else:
    print('country_codes è vuoto')

country_codes non è vuoto

In [112]:
country_codes.clear()

In [113]:
if country_codes:
    print('country_codes non è vuoto')
else:
    print('country_codes è vuoto')

country_codes è vuoto

### Self Check

Creare un dizionario denominato `states` che associ tre abbreviazioni di stato ai rispettivi nomi di stato, quindi visualizzare il dizionario.

In [114]:
states = {'VT': 'Vermont', 'NH': 'New Hampshire', 'MA': 'Massachusetts'}

In [115]:
states

{'VT': 'Vermont', 'NH': 'New Hampshire', 'MA': 'Massachusetts'}

### Iterare attraverso un dizionario

In [116]:
days_per_month = {'January': 31,
                  'February': 28,
                  'March': 31
                 }

In [117]:
days_per_month.keys()

dict_keys(['January', 'February', 'March'])

In [118]:
days_per_month.values()

dict_values([31, 28, 31])

In [119]:
days_per_month.items()

dict_items([('January', 31), ('February', 28), ('March', 31)])

In [120]:
for month, days in days_per_month.items():
    print(f'{month} has {days} days')

January has 31 days
February has 28 days
March has 31 days

### Accedere ad un valore associato ad una chiave

In [121]:
roman_numerals = {'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 100}

In [122]:
roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 100}

In [123]:
roman_numerals['V']

5

### Aggiornare il valore di una coppia chiave-valore esistente

In [124]:
roman_numerals['X'] = 10

In [125]:
roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 10}

### Aggiungere una nuova coppia chiave-valore

In [126]:
roman_numerals['L'] = 50

In [127]:
roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 10, 'L': 50}

### Rimuovere una coppia chiave-valore

In [128]:
del roman_numerals['III']

In [129]:
roman_numerals

{'I': 1, 'II': 2, 'V': 5, 'X': 10, 'L': 50}

In [130]:
roman_numerals.pop('X')

10

In [131]:
roman_numerals

{'I': 1, 'II': 2, 'V': 5, 'L': 50}

### Tentare di accedere ad una chiave non esistente

In [132]:
roman_numerals['III']

KeyError: 'III'

Puoi prevenire questo errore utilizzando il metodo del dizionario `get`, che normalmente restituisce il valore corrispondente al suo argomento. Se quella chiave non viene trovata, `get` restituisce `None`

In [133]:
roman_numerals.get('III')

In [134]:
roman_numerals.get('III', 'III not in dictionary')

'III not in dictionary'

In [135]:
roman_numerals.get('V')

5

### Testare se un dizionario contiene una chiave specifica

In [136]:
'I' in roman_numerals

True

In [137]:
'III' in roman_numerals

False

In [138]:
'III' not in roman_numerals

True

### Metodi `keys` e `values`

In [139]:
months = {'January': 1, 'February': 2, 'March': 3}

In [140]:
for month_name in months.keys():
    print(month_name, end=' ')

January February March

In [141]:
# Creare una lista dei valori del dizionario months

mesi = []

for month_name in months.keys():
    mesi.append(month_name)
print(mesi)

['January', 'February', 'March']

In [142]:
for month_number in months.values():
    print(month_number, end=' ')

1 2 3

### Viste di dizionari

In [143]:
months_view = months.keys()

Quando si esegue l'iterazione su una vista, essa "vede" il contenuto corrente del dizionario: non dispone di una propria copia dei dati.

In [144]:
for key in months_view:
    print(key, end=' ')

January February March

In [145]:
months['December'] = 12

In [146]:
months

{'January': 1, 'February': 2, 'March': 3, 'December': 12}

In [147]:
for key in months_view:
    print(key, end=' ')

January February March December

In [148]:
months_view

dict_keys(['January', 'February', 'March', 'December'])

### Convertire chiavi, valori e coppie chiave-valore in liste

In [149]:
list(months.keys())

['January', 'February', 'March', 'December']

In [150]:
list(months.values())

[1, 2, 3, 12]

In [151]:
list(months.items())

[('January', 1), ('February', 2), ('March', 3), ('December', 12)]

### Elaborare chiavi in ordine

In [152]:
months = {'January': 1, 'February': 2, 'March': 3}

In [153]:
for month_name in sorted(months.keys()):
    print(month_name, end=' ')

February January March

In [154]:
sorted(months.keys())

['February', 'January', 'March']

### Confronti fra dizionari

Un confronto uguale a (==) restituisce `True` se entrambi i dizionari hanno le stesse coppie chiave-valore, indipendentemente dall'ordine in cui tali coppie chiave-valore sono state aggiunte a ciascun dizionario

In [155]:
country_capitals1 = {'Belgium': 'Brussels',
                     'Italy': 'Rome'}

In [156]:
country_capitals2 = {'Nepal': 'Kathmandu',
                     'Uruguay': 'Montevideo'}

In [157]:
country_capitals3 = {'Italy': 'Rome',
                     'Belgium': 'Brussels'}

In [158]:
country_capitals1 == country_capitals2

False

In [159]:
country_capitals1 == country_capitals3

True

In [160]:
country_capitals1 != country_capitals2

True

### Self Check 1: A partire da un dizionario dei voti degli studenti calcolare medai voto per studenti e media della classe

In [ ]:
grade_book = {
    'Susan': [92, 85, 100],
    'Eduardo': [83, 95, 79],
    'Azizi': [91, 89, 82],
    'Pantipa': [97, 91, 92]
}

In [161]:
all_grades_total = 0
all_grades_count = 0

for name, grades in grade_book.items():
    total = sum(grades)
    print(f'Average for {name} is {total/len(grades):.2f}')
    all_grades_total += total
    all_grades_count += len(grades)

print(f'\nTotale: {all_grades_total}')
print(f'Conteggio {all_grades_count}')
    
print(f"\nClass's average is: {all_grades_total / all_grades_count:.2f}")

Average for Susan is 92.33
Average for Eduardo is 85.67
Average for Azizi is 87.33
Average for Pantipa is 93.33

Totale: 1076
Conteggio 12

Class's average is: 89.67

### Self Check 2: Contare le parole in una frase

In [162]:
# In Python, il metodo .split() è utilizzato per dividere una stringa in una lista di sottostringhe, 
# in base a un delimitatore specificato. Se non viene specificato alcun delimitatore, 
# lo spazio vuoto (spazio, tabulazione, newline, ecc.) viene utilizzato come delimitatore predefinito.

text = "Python è un linguaggio di programmazione"
words = text.split()
print(words)

['Python', 'è', 'un', 'linguaggio', 'di', 'programmazione']

In [167]:
text = ('this is sample text with several words '
        'this is more sample text with some different words')

word_counts = {}

# count occurrences of each unique word
for word in text.split():
    if word in word_counts:
        word_counts[word] += 1 # update existing key-value pair
    else:
        word_counts[word] = 1 # insert new key-value pair

print(f'{"WORD":<12}COUNT')

for word, count in sorted(word_counts.items()):
    print(f'{word:<12}{count}')
    
print('\nNumber of unique words:', len(word_counts))

WORD        COUNT
different   1
is          2
more        1
sample      2
several     1
some        1
text        2
this        2
with        2
words       2

Number of unique words: 10

### Metodo `update`

In [168]:
country_codes = {}

In [169]:
country_codes.update({'South Africa': 'za'})

In [170]:
country_codes

{'South Africa': 'za'}

In [171]:
country_codes.update(Australia='ar')

In [172]:
country_codes

{'South Africa': 'za', 'Australia': 'ar'}

In [173]:
country_codes.update(Australia='au')

In [174]:
country_codes

{'South Africa': 'za', 'Australia': 'au'}

In [175]:
d = {'key1':'A', 'key2': 'b'}
print(type(d))

print(d.get('key1'))
print(d.items())
print(d.keys())
print(d.values())

<class 'dict'>
A
dict_items([('key1', 'A'), ('key2', 'b')])
dict_keys(['key1', 'key2'])
dict_values(['A', 'b'])

Metodo per aggiungere elemento al dizionario.

In [176]:
d = {'key1':'A', 'key2': 'b'}

print('Dizionario prima di aver appesso elemento: ', d)

d['key3'] = 'c'

print('Dizionario dopo aver appesso elemento: ', d)

Dizionario prima di aver appesso elemento:  {'key1': 'A', 'key2': 'b'}
Dizionario dopo aver appesso elemento:  {'key1': 'A', 'key2': 'b', 'key3': 'c'}