In [1]:
import pandas as pd
df_iniziale = pd.read_csv("VENEZIA_GENNAIO.csv", delimiter =';')
df_iniziale

,DATA,ORA,LIVELLO IDROMETRICO,TEMPERATURA ACQUA,TEMPERATURA ARIA,UMIDITÀ RELATIVA,PRESSIONE ATMOSFERICA,DIREZIONE VENTO,VELOCITÀ VENTO
0,2025-01-01,08:00,"0,445","8,9","4,6",95.0,"1032,2",80,"1,5"
1,2025-01-01,08:10,"0,452",NaN,NaN,NaN,NaN,65,"1,8"
2,2025-01-01,08:20,"0,465",NaN,NaN,NaN,NaN,67,"0,7"
3,2025-01-01,08:30,"0,474",NaN,NaN,NaN,NaN,63,"0,7"
4,2025-01-01,08:40,"0,48",NaN,NaN,NaN,NaN,113,1
...,...,...,...,...,...,...,...,...,...
4316,2025-01-31,07:20,"0,442",NaN,NaN,NaN,NaN,295,"1,4"
4317,2025-01-31,07:30,"0,47",NaN,NaN,NaN,NaN,310,"1,2"
4318,2025-01-31,07:40,"0,497",NaN,NaN,NaN,NaN,247,"0,6"
4319,2025-01-31,07:50,"0,515",NaN,NaN,NaN,NaN,318,"0,8"
4320,2025-01-31,08:00,"0,524","9,5","4,6",94.0,"1025,3",340,"1,9"

In [ ]:
import pandas as pd


file_name = "VENEZIA_GENNAIO.csv"
df = pd.read_csv(file_name, delimiter=";", dtype=str)


for col in ['LIVELLO IDROMETRICO', 'TEMPERATURA ARIA', 'UMIDITÀ RELATIVA', 'PRESSIONE ATMOSFERICA']:
    df[col] = df[col].str.replace(',', '.', regex=True).astype(float)

# Parsing 
df['DATA_ORA'] = pd.to_datetime(df['DATA'] + ' ' + df['ORA'], format='%Y-%m-%d %H:%M', errors='coerce')

df = df[df['DATA_ORA'].dt.minute.isin([0, 10, 20, 30, 40, 50])]


df_hourly = df.groupby(df['DATA_ORA'].dt.floor('h')).agg({
    'LIVELLO IDROMETRICO': 'mean',
    'TEMPERATURA ARIA': 'mean',
    'PRESSIONE ATMOSFERICA': 'mean',
    'UMIDITÀ RELATIVA' : 'mean'
}).reset_index()

# Estrai solo DATA e ORA (solo oraria tipo 09:00, 10:00...)
df_hourly['DATA'] = df_hourly['DATA_ORA'].dt.strftime('%Y-%m-%d')
df_hourly['ORA'] = df_hourly['DATA_ORA'].dt.strftime('%H:%M')


df_hourly = df_hourly[['DATA', 'ORA', 'LIVELLO IDROMETRICO', 'TEMPERATURA ARIA', 'PRESSIONE ATMOSFERICA', 'UMIDITÀ RELATIVA']]


df_hourly.index += 1
dati_convertiti = df_hourly
df_hourly

,DATA,ORA,LIVELLO IDROMETRICO,TEMPERATURA ARIA,PRESSIONE ATMOSFERICA,UMIDITÀ RELATIVA
1,2025-01-01,08:00,0.466667,4.6,1032.2,95.0
2,2025-01-01,09:00,0.473167,5.1,1032.5,95.0
3,2025-01-01,10:00,0.391000,4.4,1032.8,94.0
4,2025-01-01,11:00,0.206833,4.7,1031.8,95.0
5,2025-01-01,12:00,-0.040500,4.9,1031.1,94.0
...,...,...,...,...,...,...
717,2025-01-31,04:00,0.113667,6.8,1023.3,92.0
718,2025-01-31,05:00,0.178167,5.6,1023.8,92.0
719,2025-01-31,06:00,0.309000,5.3,1024.2,93.0
720,2025-01-31,07:00,0.451500,4.3,1024.8,93.0
721,2025-01-31,08:00,0.524000,4.6,1025.3,94.0

In [31]:
dati_convertiti['LIVELLO IDROMETRICO'] = dati_convertiti['LIVELLO IDROMETRICO'].round(3).astype(str) + " m"
dati_convertiti['TEMPERATURA ARIA'] = dati_convertiti['TEMPERATURA ARIA'].round(1).astype(str) + " °C"
dati_convertiti['PRESSIONE ATMOSFERICA'] = dati_convertiti['PRESSIONE ATMOSFERICA'].astype(str) + " hPa"
dati_convertiti['UMIDITÀ RELATIVA'] = dati_convertiti['UMIDITÀ RELATIVA'].round(1).astype(str) + " %"
dati_convertiti

,DATA,ORA,LIVELLO IDROMETRICO,TEMPERATURA ARIA,PRESSIONE ATMOSFERICA,UMIDITÀ RELATIVA
1,2025-01-01,08:00,0.467 m,4.6 °C,1032.2 hPa,95.0 %
2,2025-01-01,09:00,0.473 m,5.1 °C,1032.5 hPa,95.0 %
3,2025-01-01,10:00,0.391 m,4.4 °C,1032.8 hPa,94.0 %
4,2025-01-01,11:00,0.207 m,4.7 °C,1031.8 hPa,95.0 %
5,2025-01-01,12:00,-0.04 m,4.9 °C,1031.1 hPa,94.0 %
...,...,...,...,...,...,...
717,2025-01-31,04:00,0.114 m,6.8 °C,1023.3 hPa,92.0 %
718,2025-01-31,05:00,0.178 m,5.6 °C,1023.8 hPa,92.0 %
719,2025-01-31,06:00,0.309 m,5.3 °C,1024.2 hPa,93.0 %
720,2025-01-31,07:00,0.452 m,4.3 °C,1024.8 hPa,93.0 %
721,2025-01-31,08:00,0.524 m,4.6 °C,1025.3 hPa,94.0 %

In [33]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split


df_hourly["DATA_ORA"] = pd.to_datetime(df_hourly["DATA"].astype(str) + " " + df_hourly["ORA"])
df_hourly["DATA_TIMESTAMP"] = df_hourly["DATA_ORA"].astype(int) // 10**9  


X = df_hourly[["DATA_TIMESTAMP"]]
y = df_hourly[["LIVELLO IDROMETRICO"]]


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

modello = DecisionTreeRegressor()
modello.fit(X_train, y_train)


nuova_data = pd.to_datetime("2025-02-01 09:00").timestamp()  
nuovo_input = np.array([[nuova_data]])  
nuovo_input = pd.DataFrame([[nuova_data]], columns=["DATA_TIMESTAMP"]) # Altrimenti genera warning poichè non usa lo stesso namecol del rigo precedente
previsione = modello.predict(nuovo_input)


livello_idrometrico = previsione[0]
print(f"Livello Idrometrico: {livello_idrometrico}")

Livello Idrometrico: 0.524